<VirtualHost *:80>
	ServerAdmin ian.zepp@gmail.com
	DocumentRoot /mnt/h1n1/www/h1n1-www.ianzepp.com

	<Directory />
		Options FollowSymLinks
		AllowOverride None
	</Directory>

	<Directory /mnt/h1n1/www/h1n1-www.ianzepp.com>
		Options Indexes FollowSymLinks MultiViews
		AllowOverride None
		Order allow,deny
		allow from all
	</Directory>

	# Possible values include: debug, info, notice, warn, error, crit,
	# alert, emerg.
	LogLevel notice
	CustomLog /mnt/h1n1/var/log/apache2/h1n1-www.ianzepp.com/access.log combined
</VirtualHost>
