<VirtualHost h1n1.ianzepp.com:80>
	ServerAdmin ian.zepp@gmail.com
	DocumentRoot /mnt/h1n1/app/com.ianzepp.h1n1/www

	<Directory />
		Options FollowSymLinks
		AllowOverride None
	</Directory>

	<Directory /mnt/h1n1/app/com.ianzepp.h1n1/www>
		Options Indexes FollowSymLinks MultiViews
		AllowOverride None
		Order allow,deny
		allow from all
	</Directory>

	# Possible values include: debug, info, notice, warn, error, crit,
	# alert, emerg.
	LogLevel notice
	CustomLog /mnt/h1n1/app/com.ianzepp.h1n1/log/access.log combined
</VirtualHost>
